.tb_cpn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.ant-spin-container {
  margin: 20px;
  width: 1000px;
}

thead .ant-table-cell {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.tb_action {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  /* width: 100px; */
}

.space_tb {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}
