.table_user {
  margin-top: 10px;
  width: 100%;
}

thead {
  background-color: #ccc;
}

table,
th,
td {
  border: 1px solid;
}

.td_tsx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_tb {
  background-color: bisque;
}
